<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Profile page</title>
</head>
<body>
    this is profile page
    <h1>Welcome,<%=user.name %></h1>
    <h2><%=user.email %></h2>
    <h2><%=user.country%></h2>
</body>
</html>